body {
  font-family: 'system-ui';
}

body {
  * {
    &:focus, &.focus,
    &:active, &.active {
      outline: transparent none 0 !important;
      box-shadow: 0 0 0 0 rgba(0,123,255,0) !important;
      -webkit-box-shadow: none !important;
    }
  }
}

select.record-per-page {
  width: 80px;
  float: left;
}

span.pagination-total {
  padding-top: 6px;
  margin-left: 10px;
}