.table thead th {
  background-color: lighten($primary, 65%);
  color: $black;
  cursor: pointer;
  position: relative;
  padding: 0px;

  &:hover {
    background-color: lighten($primary, 62%);
    transition: background $transition-speed;
  }

  &.row-count {
    width: 1%;
    padding: 8px;
  }

  & div.column-name {
    padding: 8px;

    & span.sort-icon {
      min-width: 25px;
      margin-right: 25px;
      color: lighten($primary, 40%);
    }
  }

  & li {
    list-style: none;
    position: absolute;
    top: 8px;
    right: 0px;

    & div.filter-link {
      margin-right: 7px;
      &:hover {
        color: $primary;
        transition: background $transition-speed;
      }
    }
  
    & ul.filter-box {     
      position: absolute;
      width: 250px;
      z-index: 9999;
      top: 30px;
      margin-right: -25px;
      right: 100%;
      border: 2px solid $primary;
      border-radius: $border-radius;
      padding: 0px;
      font-size: 14px;
      font-weight: normal;

      &:before {
        content: '';
        right: 7px;
        margin-top: -8px;
        position: absolute;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 8px solid $primary;
      }
      
      & div {
        padding: 10px;

        &.header {
          background-color: $primary;
          color: $white;
        }

        &.body {
          background-color: $white;
          
          & form {

            & label {
              font-weight: bold;
            }

            div.form-group {
              margin-bottom: 0px;
              padding-bottom: 0px;
            }

            div.btn-group {
              width: 100%;
              padding: 0px;
            }
          }
        }
  
        &.footer {
          padding-left: 20px;
          padding-right: 20px;
          background-color: $light;
        }  
      }
    }
  }
}

.table th, .table td {
  padding: 0.5rem;
}
